.contact-center {
            display: flex;
           flex-direction: column; /* Stack items vertically */
            align-items: center;    /* Center horizontally */
            justify-content: center; /* Center vertically */
            /*height: 100vh;         /* Full viewport height */
            text-align: left;     /* Center text */
            /*padding: 64px 16px;    /* Add padding */
        }
		
		
.about-text {
    margin: 0 auto; /* Center the text */
    max-width: 80%; /* Use a percentage for maximum width */
    padding: 0 4%; /* Use percentage for padding */
    text-align: justify; /* Keep text aligned to the justify */
    /*font-size: 1.5vw; /* Use viewport width for font size */
}


.team-img {
    max-width: 100%; /* Ensure images scale down */
    height: auto; /* Maintain aspect ratio */
    width: 45%; /* Use percentage for width */
}

.career-img {
    max-width: 100%; /* Ensure images scale down */
    height: 25%; 
    width: 45%; /* Use percentage for width */
}

.responsive-container {
  max-width: 100%;
  overflow: hidden;
  text-align: center; /* Center the image if desired */
  padding-top: 8vh; /* Responsive padding based on viewport height */
  padding-bottom: 5vh; /* Responsive padding based on viewport height */
}

.responsive-image {
  width: auto;
  height: 90%;
  max-width: 50%;
  animation: fadeIn 2s; /* Example animation */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


/* Media query for medium to large screens */
@media (max-width: 1024px) {
  .responsive-container {
    padding-top: 10vh; /* Adjust padding for medium screens */
  }
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .responsive-container {
    padding-top: 12%; /* Adjust padding for smaller screens */
	padding-bottom: 12%; /* Adjust padding for smaller screens */
  }
  
  .responsive-image{
	 width: 100%;
	 height: 100%;
	 max-width: 100%; 
	 max-height: 100%; 
  }
}


@media (max-width: 450px) {
  .responsive-container {
    padding-top: 30%; /* Adjust padding for smaller screens */
	padding-bottom: 10%; /* Adjust padding for smaller screens */
  }
  
  .responsive-image{
	 width: 100%;
	 height: 80%;
	 max-width: 100%; 
	 max-height: 100%;
  }
}